<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 위의 meta 태그는 모바일 화면에 최적화된 설정입니다. -->
	<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<title>회원관리</title>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="./memberManage/script.js?v=2025-06-23"></script>
  	<link rel="stylesheet" href="./memberManage/style.css">
	<table id="teamTierManage" style="display: none;">
		<tr>
			<td> 
				<button id="btnMemberSearch" onClick="memberSearch()">개별조회 및 변경</button> 
				<button id="btnMembersManage" onClick="membersManage()">티어 일괄 변경</button>
			</td>
		</tr>

		<tr>
			<td>
				<textarea id="memberInfoBox"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<button onClick="exemptionCouponPlus()">면제권 부여</button>
				<button onClick="exemptionCouponPlusListAll()">면제권 일괄 부여</button>
				<button onClick="exemptionCouponMinus()">면제권 차감</button>
			</td>
		</tr>
		<tr>
			<td>
				<button onClick="zeroPaymentSearch()">대관코트 사용료 납부</button>
				<button onClick="zeroPaymentListPrint()">대관코트 미납자 조회</button>
			</td>
		<tr>
			<td>
				<button onClick="memberListPrintOrderByTier()">티어별 명단</button>
				<button onClick="memberListPrintOrderByExemptionCoupon()">면제권 명단</button>
				<button onClick="memberListPrintOrderByName()">명단(이름)</button>
				<button onClick="memberListPrintToJson()">명단 출력(JSON)</button>
			</td>
		</tr>
		<tr>
			<td>
				<button onClick="generateVerificationCode()">인증번호 생성</button>
			</td>
		</tr>
		<script>
			
			
		</script>
		
</body>

</html>