<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>토큰 검증 및 저장</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>

		$(document).ready(function () {
			// URL에서 토큰이 있는경우 바로 체크하고 없으면 토큰 입력창 띄우기
			const urlParams = new URLSearchParams(window.location.search);
			let token = urlParams.get('token');

			if (token) {
				verifyToken(token);
			} else {
				promptForToken();
			}
		});
		function promptForToken() {
			let token = prompt("토큰을 입력해주세요:");
			if (token) {
				verifyToken(token);
			} else {
				alert("토큰이 필요합니다.");
			}
		}
		function verifyToken(token) {
			// GET 요청으로 토큰을 서버에 전송
			$.ajax({
				url: '/api/verifyToken?token=' + token, // 토큰을 URL 파라미터로 전송
				method: 'GET',
				success: function (response) {
					// 토큰 검증 성공 시 로컬 스토리지에 저장
					localStorage.setItem('token', token);
					alert(response+'님 토큰 확인되었습니다.');
					alert('회원관리페이지로 이동합니다.');
					window.location.href = "./memberManage";
				},
				error: function (xhr) {
					if (xhr.status === 401) {
						alert(xhr.responseText);
					} else {
						alert('토큰 검증 중 오류 발생: ' + xhr.status);
					}
				}
			});
		}
	</script>
</head>

<body>
</body>

</html>