<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jukury.scv.mapper.ScheduleMapper">

	
	<insert id="insertSchedule" parameterType="jukury.scv.request.AttendanceRequest" useGeneratedKeys="true" keyProperty="scheduleId"> 
	    INSERT INTO schedule (schedule_time, created_by, last_updated_by, vip_time)
	    VALUES (#{scheduleTime}, #{managerId}, #{managerId}, #{vipTime})
	</insert>
	
	<select id="checkDuplicateSchedule" parameterType="java.time.LocalDateTime" resultType="int">
	    SELECT COUNT(*)
	    FROM schedule
	    WHERE status = 'ACTIVE' 
	    AND schedule_time = #{scheduleTime}
	</select>
	<select id="getScheduleList" resultMap="scheduleResultMap">
		SELECT schedule.schedule_id, 
   			schedule.schedule_time,
   			member.member_id,
   			member.name 
	   FROM schedule schedule
	   LEFT JOIN schedule_attendee attendee 
	   ON attendee.schedule_id = schedule.schedule_id
	   LEFT JOIN members member 
	   ON attendee.member_id = member.member_id
	   WHERE schedule.status = 'ACTIVE'
	 	AND schedule.schedule_time <![CDATA[>=]]>
	 	<if test="startDateTime != null">
	 		#{startDateTime}
		</if>
	    <if test="startDateTime == null">
	    	DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAY(CURDATE())-1 DAY), '%Y-%m-01 00:00:00')
	    </if>
	 	AND schedule.schedule_time <![CDATA[<=]]>
	    <if test="endDateTime != null">
	        #{endDateTime}
	    </if>
	    <if test="endDateTime == null">
	        CURDATE()
	    </if>
	    <if test="memberId != 0">
	     		AND member.member_id = #{memberId}
 		</if>
	</select>
	
	<resultMap id="scheduleResultMap" type="jukury.scv.response.ScheduleResponse">
	    <id property="scheduleId" column="schedule_id"/>
	    <result property="scheduleTime" column="schedule_time"/>
	    <collection property="memberList" ofType="jukury.scv.model.Member">
	        <id property="memberId" column="member_id"/>
	        <result property="name" column="name"/>
	    </collection>
	</resultMap>	
</mapper>